# Ignore build output folders for all projects
**/bin/
**/obj/

# (Optional) Ignore Visual Studio / VS Code caches
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
.env
docker-compose.yml

# (Optional) Ignore NuGet packages if you ever pack locally
*.nupkg
*.snupkg

# (Optional) Ignore Docker build output
**/publish/
*.Dockerfile.user
